@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Hi my name is Ruan and this quiz website is a personal project that I developed in HTML, JavaScript and CSS using MVC design pattern in Visual Studio</p>

<p>If you would like to know more about me you can visit my Portfolio website: <a href="https://ruanbezuidenhout.github.io/">My Portfolio</a></p>
